* { 
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body { 
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar{
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li :hover {
    margin: 15px 0;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.sidebar li a:hover{
    background-color: #575757;
}

.content{
    margin-left: 200px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.banner {
    background-color: #4caf50;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner .btn {
    background-color: white;
    color: #4caf50;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.banner .btn:hover {
    background-color: #45a049;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
}